<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div>
                    <h2 id="editDessertLabel">Edit <%= dessert.name %></h2>
                    <hr>
                    <form method="POST" action="/desserts/<%= dessert._id %>?_method=PUT">
                        <input class="form-control" type="text" name="editDessertName" value="<%= dessert.name %>">
                        <br/>
                        <input class="form-control" type="text" name="editDessertImage" value="<%= dessert.image %>">
                        <br/>
                        <input class="form-control" type="text" name="editDessertDescription" value="<%= dessert.description %>">
                        <br/>
                        <button type="submit" class="btn btn-primary form-control">Edit!</button>
                    </form>
                    <br /> <a href="/desserts/<%= dessert._id %>"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</a> </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>